*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Gill Sans, sans-serif;
}

.nav a {
  text-decoration: none;
  color: rgb(247, 237, 226);
}

.nav a:hover {
  color: rgb(246, 189, 96);
}

.header {
  background-color: rgb(132, 165, 157);
}

.nav ul {
  list-style-type: none;
  color: rgb(245, 202, 195);
  margin: 0;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: end;
}

.hero {
  background-color: rgb(132, 165, 157);
  padding-left: 7%;
  padding-right: 7%;
  color: rgb(79 79 79);
  display: grid;
  grid-template-columns: repeat(2, minmax(10em, 1fr));
}

.introtext * {
  margin: 0;
}

.introtext {
  justify-self: center;
  align-self: center;
  display: grid;
}

.hello {
  font-size: 1.5rem;
}

.name {
  font-size: 4rem;
  padding-top: 8px;
}

.subintro {
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: 9px;
}

.introimage {
  align-self: flex-end;
  width: 100%;
  max-width: 20em;
  object-fit: contain;
}

h3:hover {
  color: white;
}

#CV {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CVlist {
  font-size: 1.2rem;
  color: grey;
  font-weight: lighter;
  line-height: 2;
  padding: 10% 10% 10% 15%;
  width: 100%;
}

.curriculum {
  font-size: 1.2rem;
  color: rgb(79 79 79);
  background-color: rgb(242, 132, 130);
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#SK {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills {
  font-size: 1.2rem;
  color: rgb(79 79 79);
  background-color: rgb(246, 189, 96);
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.skillslist {
  font-size: 1.2rem;
  color: grey;
  padding: 10% 10% 10% 15%;
  background-color: white;
  font-weight: lighter;
  line-height: 2;
  padding-left: 15%;
  padding-right: 10%;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  color: rgb(245, 202, 195);
  display: grid;
  grid-template-columns: auto repeat(3, 100px) auto;
}
