*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.nav a {
  color: rgb(247, 237, 226);
}

.nav a:hover {
  color: rgb(246, 189, 96);
}

.header {
  background-color: rgb(132, 165, 157);
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav ul {
  list-style-type: none;
  color: rgb(245, 202, 195);
  font-family: Gill Sans, sans-serif;
  display: grid;
  grid-template-columns: auto repeat(3, 100px);
}

.liste1 {
  grid-column-start: 2;
}

.introtext * {
  margin: 0;
}

.introtext {
  padding-top: 20%;
  padding-bottom: auto;
  margin-left: 20%;
  margin-right: 15px;
}

.intro {
  background-color: rgb(132, 165, 157);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
  color: white;
}

.hello {
  font-family: Gill Sans, sans-serif;
  font-size: 1.5rem;
}

.name {
  font-family: Gill Sans, sans-serif;
  font-size: 4rem;
  padding-top: 8px;
}

.subintro {
  font-family: Gill Sans, sans-serif;
  font-size: 1.5rem;
  padding-top: 9px;
}

.introimage {
  justify-self: end;
  margin-right: 15%;
  height: 450px;
}

.me {
  height: 100%;
}

#CV {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(242, 132, 130);
}

.CVlist {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: grey;
  background-color: white;
  font-weight: lighter;
  line-height: 2;
  padding: 10% 10% 10% 15%;
  width: 100%;
}

.Curriculum {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: white;
  justify-self: center;
  align-self: center;
  font-weight: normal;
}

#SK {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(246, 189, 96);
}

.skills {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: white;

  justify-self: center;
  align-self: center;
  font-weight: normal;
}

.skillslist {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: grey;
  padding: 10% 10% 10% 15%;
  background-color: white;
  font-weight: lighter;
  line-height: 2;
  padding-left: 15%;
  padding-right: 10%;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  background-color: rgb (132, 165, 157);
  color: rgb(245, 202, 195);
  font-family: Gill Sans, sans-serif;
  display: grid;
  grid-template-columns: auto repeat(3, 100px) auto;
}
