*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: rgb(247, 237, 226);
}

.nav a:hover {
  color: rgb(246, 189, 96);
}

.header {
  background-color: rgb(132, 165, 157);
}

.nav ul {
  list-style-type: none;
  color: rgb(245, 202, 195);
  margin: 0;
  padding: 20px 0;
  font-family: Gill Sans, sans-serif;
  display: grid;
  grid-template-columns: auto repeat(3, 100px);
}

.list1 {
  grid-column-start: 2;
}

.hero {
  background-color: rgb(132, 165, 157);
  padding-left: 7%;
  padding-right: 7%;
  height: 450px;
  color: rgb(79 79 79);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introtext * {
  margin: 0;
}

.introtext {
  justify-self: center;
  align-self: center;
}

.hello {
  font-family: Gill Sans, sans-serif;
  font-size: 1.5rem;
}

.name {
  font-family: Gill Sans, sans-serif;
  font-size: 4rem;
  padding-top: 8px;
}

.subintro {
  font-family: Gill Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: 9px;
}

.introimage {
  justify-self: end;
  height: 450px;
}

.me {
  height: 100%;
}

h3:hover {
  color: white;
}

#CV {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(242, 132, 130);
}

.CVlist {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: grey;
  background-color: white;
  font-weight: lighter;
  line-height: 2;
  padding: 10% 10% 10% 15%;
  width: 100%;
}

.curriculum {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: rgb(79 79 79);
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.2rem;
}

#SK {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(246, 189, 96);
}

.skills {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: rgb(79 79 79);
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.skillslist {
  font-family: Gill Sans, sans-serif;
  font-size: 1.2rem;
  color: grey;
  padding: 10% 10% 10% 15%;
  background-color: white;
  font-weight: lighter;
  line-height: 2;
  padding-left: 15%;
  padding-right: 10%;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  color: rgb(245, 202, 195);
  font-family: Gill Sans, sans-serif;
  display: grid;
  grid-template-columns: auto repeat(3, 100px) auto;
}
